/target
/.settings
/.classpath
/.project
*.class
# Package Files #
*.jar
*.war
*.ear

byUser/access.log
/.metadata
/cov-int
/cov-int.zip
/server.key
/RemoteSystemsTempFiles
/npm-debug.log
/output.log
.project
/Servers/.settings
/Servers
/.idea/
*.iml
NOTES.txt
