<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
   
<appender name="MARKER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender" additivity="false">
     <filter class="org.owasp.security.logging.filter.SecurityMarkerFilter">
         <marker>SECURITY</marker>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
     </filter>
     <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
         <marker>SECURITY</marker>
     </evaluator>
     <layout class="ch.qos.logback.classic.PatternLayout">
         <Pattern>%date [%thread] %-5level U:%X{vaspId} - %message%n</Pattern>
     </layout>
 </appender>

<appender name="LAYOUT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="org.owasp.security.logging.layout.SecurityLoggingLayout" />
    </encoder>
 </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="MARKER_CONSOLE" />
    <appender-ref ref="LAYOUT_CONSOLE" />
  </root>
</configuration>    