<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>STDOUT %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %crlf(%msg) %n
            </Pattern>
        </layout>
    </appender>

    <conversionRule conversionWord="crlf"
                    converterClass="org.owasp.security.logging.mask.CRLFConverter">
    </conversionRule> />

    <conversionRule conversionWord="mask"
                        converterClass="org.owasp.security.logging.mask.MaskingConverter" />

    <conversionRule conversionWord="remoteIP"
                        converterClass="ch.qos.logback.access.pattern.RemoteIPAddressConverter" />

    <!-- This appender represents a regular application log. 
         It should show application events and security events, 
         but not classified events -->
    <appender name="APP_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="org.owasp.security.logging.filter.ExcludeClassifiedMarkerFilter"/>-->
        <encoder>
            <pattern>APP %date [%thread] [%marker] %-5level U:%X{userId} - %crlf(%mask) %n</pattern>
        </encoder>
    </appender>

    <!-- This appender represents a separate application log for security.  
         It should only display security events and classified events -->
    <appender name="SECURITY_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.owasp.security.logging.filter.SecurityMarkerFilter"/>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.owasp.security.logging.layout.SecurityLoggingLayout" />
        </encoder>
    </appender>

    <!-- This appender is only for events that have been marked as CONFIDENTIAL -->
    <appender name="CONFIDENTIAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="org.owasp.security.logging.filter.MarkerFilter">
            <marker>CONFIDENTIAL</marker>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>CONFIDENTIAL %date [%thread] [%marker] %-5level U:%X{userId} - %crlf(%msg) %n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="APP_CONSOLE" />
        <appender-ref ref="SECURITY_CONSOLE" />
        <appender-ref ref="CONFIDENTIAL_CONSOLE" />
    </root>
    
</configuration>    