<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<conversionRule conversionWord="nanos"
		converterClass="org.owasp.security.logging.mask.MaskingConverter" />

	<conversionRule conversionWord="remoteIP"
		converterClass="ch.qos.logback.access.pattern.RemoteIPAddressConverter" />


	<appender name="MARKER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="org.owasp.security.logging.filter.MarkerFilter">
			<marker>SECURITY</marker>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%date [%thread] [%marker] %-5level U:%X{userId} - %message%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ACCESS_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="org.owasp.security.logging.filter.MarkerFilter">
			<marker>SECURITY</marker>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.access.PatternLayout">
				<pattern>%h %l %u [%t] %r %s %b %i{Referer} %i{User-Agent}</pattern>
			</layout>
		</encoder>
	</appender>


	<appender name="LAYOUT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.owasp.security.logging.layout.SecurityLoggingLayout" />
		</encoder>
	</appender>

	<appender name="ACCESS" class="ch.qos.logback.core.FileAppender">
		<File>byUser/access.log</File>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.access.PatternLayout">
				<Pattern>%h %l %u %t %r %s %b</Pattern>
			</layout>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="MARKER_CONSOLE" />
		<appender-ref ref="ACCESS_CONSOLE" />
		<appender-ref ref="LAYOUT_CONSOLE" />
		<appender-ref ref="ACCESS" />
	</root>
</configuration>    